# Ключи для Polymarket
PRIVATE_KEY=
POLYMARKET_PROXY=
POLYGON_RPC_URL=https://polygon-rpc.com

# Параметры стратегии
ASSETS=btc
BALANCE_PERCENT_PER_TRADE=0.10
MIN_ARBITRAGE_THRESHOLD=0.01
MIN_CONTRACTS=5
MIN_SUM_PROBABILITY = 0.978
PRICE_ADJUSTMENT_TICK=0.02
TICK_ACTIVATION_THRESHOLD=0.65

# Режим работы
DRY_RUN=True
PAPER_BALANCE=170
